---

<h1 align=left><font size = 8, style="color:rgb(200,0,0)"><b>Python: Fundamentos</b></font></h1>

---

### **Lista de Exercícios Básicos em Python**


#### **1. Tipos de Variáveis**



1. **Identificação de Tipos de Dados:**
   - Crie três variáveis, uma para cada tipo: `int`, `float`, e `str`. Atribua valores a essas variáveis e use a função `type()` para imprimir o tipo de cada variável.

In [6]:
# RESPOSTA

variavel_int = 10
variavel_float = 10.5
variavel_str = "Olá, mundo!"

print(type(variavel_int))   
print(type(variavel_float)) 
print(type(variavel_str))

<class 'int'>
<class 'float'>
<class 'str'>


2. **Conversão de Tipos:**
   - Dada a string `"123"`, converta-a em um inteiro e em um número de ponto flutuante. Verifique os tipos resultantes.

In [7]:
# RESPOSTA

str_numero = "123"

numero_int = int(str_numero)
numero_float = float(str_numero)

print(type(numero_int), numero_int)
print(type(numero_float), numero_float)

<class 'int'>
<class 'float'>


3. **Operações Básicas com Diferentes Tipos de Dados:**
   - Crie duas variáveis, uma `int` e uma `float`, e realize operações de adição, subtração, multiplicação e divisão entre elas. Observe os tipos de dados dos resultados.

In [8]:
# RESPOSTA

variavel_int = 7
variavel_float = 2.5

soma = variavel_int + variavel_float
subtracao = variavel_int - variavel_float
multiplicacao = variavel_int * variavel_float
divisao = variavel_int / variavel_float

print(soma, type(soma))             
print(subtracao, type(subtracao))   
print(multiplicacao, type(multiplicacao)) 
print(divisao, type(divisao))

9.5 <class 'float'>
4.5 <class 'float'>
17.5 <class 'float'>
2.8 <class 'float'>


#### **2. Estruturas Básicas (Listas, Dicionários)**



4. **Manipulação de Listas:**
   - Crie uma lista com os números de 1 a 5. Adicione o número 6 ao final da lista, remova o número 2, e inverta a ordem dos elementos.

In [9]:
# RESPOSTA

lista = [1, 2, 3, 4, 5]

lista.append(6)

lista.remove(2)

lista.reverse()

print(lista)

[6, 5, 4, 3, 1]


5. **Acessando Elementos da Lista:**
   - Dada a lista `[10, 20, 30, 40, 50]`, acesse e imprima o primeiro, o terceiro e o último elemento da lista.

In [10]:
# RESPOSTA

lista = [10, 20, 30, 40, 50]

print(lista[0])  # 10
print(lista[2])  # 30
print(lista[-1]) # 50

10
30
50


6. **Criação e Manipulação de Dicionários:**
   - Crie um dicionário para armazenar as notas de três alunos (ex.: `{'João': 8.5, 'Maria': 9.0, 'Pedro': 7.5}`). Adicione a nota de um quarto aluno, remova a nota de um aluno, e imprima todas as chaves e valores do dicionário.

In [11]:
# RESPOSTA

notas = {'João': 8.5, 'Maria': 9.0, 'Pedro': 7.5}

notas['Ana'] = 8.0

del notas['Pedro']


for aluno, nota in notas.items():
    print(aluno, nota)

João 8.5
Maria 9.0
Ana 8.0


7. **Acessando Elementos do Dicionário:**
   - Usando o dicionário criado no exercício anterior, acesse e imprima a nota de um aluno específico, por exemplo, `Maria`.

In [12]:
# RESPOSTA

print(notas['Maria'])

9.0


#### **3. Laços Condicionais**




8. **Verificação de Números Pares e Ímpares:**
   - Escreva um código que percorre uma lista de números de 1 a 10 e imprime se cada número é par ou ímpar.

In [13]:
# RESPOSTA

numeros = list(range(1, 11))

for numero in numeros:
    if numero % 2 == 0:
        print(f"{numero} é par")
    else:
        print(f"{numero} é ímpar")

1 é ímpar
2 é par
3 é ímpar
4 é par
5 é ímpar
6 é par
7 é ímpar
8 é par
9 é ímpar
10 é par


9. **Encontrando o Maior Número:**
   - Dada uma lista de números `[3, 7, 2, 8, 5, 10]`, escreva um código que encontre e imprima o maior número da lista.

In [14]:
# RESPOSTA

numeros = [3, 7, 2, 8, 5, 10]

maior_numero = max(numeros)
print(f"O maior número é {maior_numero}")  # O maior número é 10

O maior número é 10


10. **Contando Ocorrências de um Elemento:**
    - Escreva um código que percorra uma lista de elementos (por exemplo, `['a', 'b', 'a', 'c', 'a', 'b']`) e conte quantas vezes o elemento `'a'` aparece na lista.

In [15]:
# RESPOSTA

elementos = ['a', 'b', 'a', 'c', 'a', 'b']

contagem_a = elementos.count('a')
print(f"O elemento 'a' aparece {contagem_a} vezes")

O elemento 'a' aparece 3 vezes